<template>
  <view>
    <view class="top" style="height: var(--status-bar-height);"> </view>
    <view class="container">
      <view class="search-container">
        <view>
          <input class="search-input" type="text" v-model="inputVal" @input="onInput" @focus="onFocus" @blur="onBlur" placeholder="请输入水果名">
          <icon class="search-icon" type="search" size="18"/>
        </view>
        <view class="result-container" v-if="showSelector" @touchmove="preventScroll">
          <scroll-view scroll-y="true" class="result-list" v-if="result.length">
            <view class="result" v-for="item in result" :key="item.id" @tap="goDetail(item)">{{ item.name }}</view>
          </scroll-view>
          <view class="empty" v-if="isEmpty && inputVal">
            还没有收录关于
            <text class="line-hight">"{{inputVal}}"</text>
            水果的数据哦!!!
          </view>
        </view>
      </view>
      <view class="tip">---当季水果---</view>
      <view class="card-list">
        <template v-for="item in list">
          <FruitCard :fruit-data="item" />
        </template>
      </view>
    </view>
  </view>
</template>

<script>
import { monthSearch, fuzzySearch, readAll } from '../../util/db.js'
import { debounce } from '../../util/index.js'
import { mapState } from 'vuex'
	export default {
    name: 'index',
		data() {
			return {
        list: [],
        inputVal: '',
        showSelector: false,
        result: [],
        isEmpty: false,
        debouncedSearch: null,
			}
		},
    onLoad() {
      this.debouncedSearch = debounce(this.getResult,300)
      uni.getSystemInfo({
          success: function (res) {
            setTimeout(()=>{
              document.querySelector('.container').style.height = `calc(100vh - var(--status-bar-height) - ${res.windowBottom}px - env(safe-area-inset-bottom))`
            })
          }
      });
    },
    async onShow() {
      if(this.db) {
        this.getCurrentMonthData(this.db)
      }
    },
		methods: {
      async getCurrentMonthData(db) {
        const month = (new Date()).getMonth() + 1
        this.list = await monthSearch(db, month)
      },
      onInput() {
        this.debouncedSearch()
      },
      async getResult() {
        if(!this.db || !this.inputVal) {
           this.result = []
           return
        }
        this.result = await fuzzySearch(this.db, 'name', this.inputVal)
        this.isEmpty = !this.result.length
      },
      onFocus() {
        this.showSelector = true
      },
      onBlur() {
        setTimeout(() => {
          this.showSelector = false
        }, 153)
      },
      preventScroll(event) {
        event.preventDefault();
        event.stopPropagation();
      },
      goDetail(data) {
        console.log(data);
        uni.navigateTo({
        	url: '../FruitDetail/FruitDetail?id=' + data.id
        });
      }
		},
    computed: {
      ...mapState(['db'])
    },
    watch: {
      db(newVal) {
        if(!newVal) return
        this.getCurrentMonthData(newVal)
      }
    }
	}
</script>

<style lang="scss" scoped>
.container {
  overflow-y: auto;
  .search-container {
    position: sticky;
    top: var(--status-bar-height);
    background-color: #f7f7f7;
    padding: 20rpx;
    border-radius: 8rpx; /* 圆角 */
    box-shadow: 0 4rpx 24rpx rgba(0, 0, 0, 0.1); /* 阴影效果 */
    .search-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 40rpx;
    }

    .search-input {
      flex: 1; /* 输入框占满剩余空间 */
      padding: 5px;
      border: none;
      border-radius: 8px; /* 输入框圆角 */
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* 内阴影效果 */
      background-color: #f7f7f7;
      font-size: 28rpx;
    }

    .result-container {
      position: absolute;
      z-index: 999;
      top: calc(100% + 8rpx);
      left: 10rpx;
      right: 10rpx;
      background-color: #fff;
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      .result-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400rpx;
        padding: 20rpx;
        box-sizing: border-box;
        .result {
          font-size: 28rpx;
          padding: 20rpx;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          border-bottom: 2rpx solid #ece4e4;
          &:last-child {
            border-bottom: none;
          }
          &:active {
            background-color: #f9f9f9;
          }

        }
      }
      .empty {
        padding: 20rpx;
        height: 200rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28rpx;
        color: #6d6d6d;
        .line-hight {
          color: #ff0e0e;
        }
      }
    }
  }

  .tip {
    font-family: "kk";
    text-align: center;
    padding: 40rpx 0;
  }
  .card-list {
    display: flex;
    flex-direction: column;
    gap: 20rpx;
  }

}

</style>
