<template>
	<view class="card" @tap="goDetail">
    <view class="left">
      <view class="small-photo" :style="{'background-image': `url(${require('../../static/fruit-list/'+fruitData.smallPhoto)})`}" ></view>
    </view>
    <view class="right">
      <view class="row">
        <view class="label">
          <text>名</text>
          <text>称</text>
          <text>：</text>
        </view>
        <view class="val">{{ fruitData.name }}</view>
      </view>
      <view class="row">
        <view class="label">
          <text>成</text>
          <text>熟</text>
          <text>期</text>
          <text>：</text>
        </view>
        <view class="val">{{ fruitData.months }}</view>
      </view>
      <view class="row">

        <view class="label">
          <text>简</text>
          <text>介</text>
          <text>：</text>
        </view>
        <view class="val">{{ fruitData.description }}</view>
      </view>
    </view>
	</view>
</template>

<script>
	export default {
		name:"FruitCard",
    props: {
      fruitData: {
        type: Object,
        required: true
      }
    },
		data() {
			return {

			};
		},
    methods: {
      goDetail() {
        uni.navigateTo({
        	url: '../../pages/FruitDetail/FruitDetail?id=' + this.fruitData.id
        });
      }
    }
	}
</script>

<style lang="scss" scoped>
.card {
  background-color: #fff;
  display: flex;
  border-radius: 8px; /* 圆角 */
  padding: 20rpx; /* 内边距 */
  margin: 10rpx; /* 外边距 */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  &:active {
    box-shadow: #dbdbdb 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .left {
    width: 40%;
    .small-photo {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .right {
    padding: 20rpx;
    display: flex;
    gap: 10rpx;
    flex-direction: column;
    justify-content: space-between;
    font-size: 26rpx;
    .row {
      display: flex;
      .label {
        width: 104rpx;
        flex: none;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
      }
      .val {
        font-size: 24rpx;
        color: rgba($color: #000000, $alpha: 0.7);
      }
    }
  }
}
</style>
