<script>
  import { initDb, writeData } from './util/db.js'
  import fruitData from './static/fruitData.json'
  import { mapMutations } from 'vuex'
	export default {
		async onLaunch() {
      const {db, hasUpdate} = await initDb()
      this.setDb({db})
      if(hasUpdate) {
        await writeData(db, fruitData)
      }
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		},
    methods: {
      ...mapMutations(['setDb'])
    }
	}
</script>

<style lang="scss">
	/*每个页面公共css */
  @import './static/base.scss';
</style>
