<template>
  <view>
    <view class="top" style="height: var(--status-bar-height);"> </view>
    <view class="list">
      <scroll-view scroll-y="true" class="month-list" >
        <view class="month" v-for="i in 12">
          {{ i }}月
        </view>
      </scroll-view>
      <view class="fruit-list">
        <view class="fruit"></view>
      </view>
    </view>
  </view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {

		}
	}
</script>

<style lang="scss" scoped>
.list {
  // height: 100vh;
  display: flex;
  .top
  .month-list {
    width: 100rpx;
    height: 100%;
    background-color: #fff;
    flex: none;
    .month {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80rpx;
    }
  }

}
</style>
