<template>
	<view class="fruit-data">
    <view class="abstract">
      <view class="name-container">
        <view class="name">{{ fruitData.name }}</view>
        <view class="right">
          <view class="tab" v-if="fruitData.tab"> {{ fruitData.tab }} </view>
          <view class="season" v-if="isIncludesNowMonth">应季</view>
        </view>
      </view>
      <view class="time">{{ fruitData.months }}</view>
      <view class="des">{{ fruitData.description }}</view>
    </view>
    <!-- 主要价值 -->
    <view class="chief-value">
      <view class="part" v-for="(item, index) in fruitData.values" :key="index">
        <view class="title">
          {{item.title}}
        </view>
        <view class="des">
          <view class="des-p" v-for="(p,i) in  item.des" :key="i">
            {{ p }}
          </view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { readData } from '../../util/db.js'
import { mapState } from 'vuex'
	export default {
		data() {
			return {
				fruitData: {}
			};
		},
    computed: {
      ...mapState(['db']),
      isIncludesNowMonth() {
        const month = (new Date()).getMonth() + 1
        return this.fruitData.ripeningTime?.includes(month)
      }
    },
    async onLoad({id}) {
      if(id) {
        await this.getDataById(id)
      }
    },
    methods: {
      async getDataById(id) {
        this.fruitData = await readData(this.db, id)
      }
    }
	}
</script>

<style lang="scss">

.fruit-data {
  padding: 40rpx;
  color: rgba($color: #000000, $alpha: 0.7);
  font-size: 26rpx;
  .abstract {
    margin-bottom: 20rpx;
    .name-container {
      display: flex;
      align-items: center;
      gap: 20rpx;
      .name {
        font-size: 60rpx;
      }
      .right {
        .tab {

        }
        .season {

        }
      }
    }
  }
  .chief-value {
    .part {
      .title {
        font-family: "kk";
        font-size: 28rpx;
        font-weight: 600;
        padding: 20rpx 0;
      }
      .des {
        .des-p {
          text-indent: 2em;
        }
      }
    }
  }
}
</style>
